<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586160685845-d4pd0d3keo2umcrnbcppatle7qf32gab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586160685845-d4pd0d3keo2umcrnbcppatle7qf32gab</string>
	<key>API_KEY</key>
	<string>AIzaSyCJcEQ9-vcqUarg1nt1gPlwR2sF6oW5Rso</string>
	<key>GCM_SENDER_ID</key>
	<string>586160685845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LambdaSchool.Future-Hope</string>
	<key>PROJECT_ID</key>
	<string>future-hope-school</string>
	<key>STORAGE_BUCKET</key>
	<string>future-hope-school.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586160685845:ios:156d9cc8d70ecc92</string>
	<key>DATABASE_URL</key>
	<string>https://future-hope-school.firebaseio.com</string>
</dict>
</plist>